<!-- Add a header to the page with a logout button and the title "My Tasks" -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> My Tasks </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Empty state message -->
    @if ((tasks$ | async)?.length === 0) {
    <ion-item>
      <ion-label class="ion-text-center">
        <p>Add your first task!</p>
      </ion-label>
    </ion-item>
    }

    <!-- Task list -->
    @for (task of tasks$ | async; track task.id) {
    <ion-item-sliding>
      <ion-item>
        <ion-label [color]="task.completed ? 'medium' : ''">
          {{task.content}}
        </ion-label>
        <ion-checkbox slot="end" (ionChange)="toggleTaskCompletion(task)" [checked]="task.completed"
          aria-label="Mark task as complete">
        </ion-checkbox>
      </ion-item>
      
      <ion-item-options>
        <ion-item-option color="primary" (click)="editTask(task)">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteTask(task)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }
  </ion-list>

  <!-- Create a pop up modal to add a new task. Trigger the modal with FAB button created below. -->
  <!-- #modal is used to access the modal in the template -->
  <ion-modal trigger="open-modal" #modal>
    <!-- ng-template is used with the ViewChild decorator to create a template reference variable, 
         which is then used to present the modal. The ViewChild decorator is used to access the modal
         in the component class. The #modal variable is used to access the modal in the template.-->
    <ng-template>
      <!-- In the modal, create an input to enter a new task. Use two-way binding to bind the input to the newTask property -->
      <ion-item>
        <ion-label position="stacked">New Task</ion-label>
        <ion-input
          type="text"
          placeholder="Enter task content here..."
          [(ngModel)]="newTask.content"
        ></ion-input>
      </ion-item>

      <!-- Add buttons in the modal to save or cancel the task entry. Place them side by side using rows and columns. -->
      <ion-row>
        <ion-col>
          <ion-button (click)="addTask()" color="primary" expand="full">
            Save
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="cancel()" color="danger" expand="full">
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-modal>

  <!-- FAB = Floating Action Button. This creates a button that is always visible on the screen.
       The button contains a plus symbol and is used to add a new task -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
